{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap4.min.css"/>
  <style>
    #map {
        height: 250px;
        width: 100%;
    }
  </style>
{% endblock %}

{% block header %}
    <h1 class="mt-5 mb-4 p-3 text-center">Carte des hébergements déclarés sur la plaeforme</h1>
{% endblock %}

{% block main %}
  
  <div id="map"></div>

{% endblock %}

{% block javascripts %}
<script>
  function initMap(){
    myLatLng = {lat: -25.363, lng: 131.044};
    
    tabLatLng = Array(
			{
				lat: 47.325371, 
				lon: 1.044195,
				nomHebergement: "chalet1",
				coucou : "saucisse"
			},
			{
				lat: 47.345627, 
				lon: 0.894806,
				nomHebergement: "chalet2",
				coucou : "saucisse"
			},
			{
				lat: 47.334488, 
				lon: 0.944717,
				nomHebergement: "chalet3",
				coucou : "saucisse"
			}
    );

    var optionsCarte = {
				zoom: 4,
				center: myLatLng
			};
			
    var map = new google.maps.Map(document.getElementById('map'), optionsCarte);

    // Create a marker and set its position.
    var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
      title: 'Hello World!'
    });
    
    tabLatLng.forEach(function(tabLatLng) {
      console.log(tabLatLng);
      var latitude = tabLatLng['lat'];
		  var longitude = tabLatLng['lon'];
		  var optionsMarqueur = {
				map: maCarte,
				position: new google.maps.LatLng(latitude, longitude),
			   };
			var marqueur = new google.maps.Marker(optionsMarqueur);
			zoneMarqueurs.extend(marqueur.getPosition());
    });     
		maCarte.fitBounds(zoneMarqueurs);
  }
	</script>
	<script <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVfWyyAMgiYTPmk9RiIolGbPTFNzGdslk&callback=initMap">
	  
	</script>
	<script>
      
    </script>
{% endblock %}

