{% extends 'base.html.twig' %}

{% block title %}Barcelonnette - Déclarer son meublé{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/commune.css')}}">
{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/goodplace">Logo</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">La démarche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">La commune</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Les meublés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Déconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tableau de bord</a>
                </li>
            </ul>
        </div>
    </nav>
<!-- *******************************************************************FIN NAV********************************************************************* -->
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-danger btn-lg">Espace déclaration</button>
                <h1>coucou</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
{% endblock %}