{% extends 'base.html.twig' %}

{% block title %}Barcelonnette - Déclarer son meublé{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/commune.css')}}">
{% endblock %}
{% block header %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#demarche">La démarche</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#commune">La commune</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Les meublés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a></a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Déconnexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tableau de bord</a>
                    </li>
            </ul>
        </div>
    </nav>
<!-- *******************************************************************FIN NAV********************************************************************* -->
        <div class="row d-flex flex-column" id="homeblock">
            <div class="col-md-12 d-flex flex-column align-items-center p-0">
                <button type="button" class="btn btn-danger btn-lg pl-5 pr-5 pt-2 pb-2" id="btn-declaration">
                    <p class="display-4">Espace déclaration</p>
                </button>
            </div>
        </div>
</header>
{% endblock %}

{% block main %}
    <!--***********************************************************BLOC DEMARCHE *************************************************************************-->
<div class="container-fluid">
    <div class="row d-flex justify-content-center" id="demarche">
        <div class="col-md-12 text-center">
            <h1 class="display-3">La démarche</h1>
        </div>
        <div class="col-md-12 col-lg-6 bg-warning m-1">
            <h2>Pourquoi déclarer votre meublé de tourisme</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem minus illo mollitia vel harum excepturi eos adipisci ipsum facere quasi rerum ad facilis quaerat et ipsa, quidem ullam amet!</p>
            </div>
        <div class="col-md-12 col-lg-5 bg-info m-1">
            <h2>La réglementation en vigueur</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem minus illo mollitia vel harum excepturi eos adipisci ipsum facere quasi rerum ad facilis quaerat et ipsa, quidem ullam amet!</p>
        </div>
    </div>
    
    <!--**********************************************BLOC PRESENTATION COMMUNE **********************************************-->
    
    <div class="row d-flex justify-content-center" id="commune">
        <div class="col-md-12 text-center d-flex align-items-end" id="titre-commune">
            <h1 class="display-3 text-light">La commune</h1>
        </div>
        <div class="col-md-12 col-lg-3 bg-warning">
            <h2>Pourquoi déclarer votre meublé de tourisme</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem minus illo mollitia vel harum excepturi eos adipisci ipsum facere quasi rerum ad facilis quaerat et ipsa, quidem ullam amet!</p>
        </div>
        <div class="col-md-12 col-lg-3 bg-danger">
            <h2>Pourquoi déclarer votre meublé de tourisme</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem minus illo mollitia vel harum excepturi eos adipisci ipsum facere quasi rerum ad facilis quaerat et ipsa, quidem ullam amet!</p>
        </div>
        <div class="col-md-12 col-lg-3 bg-success">
            <h2>Pourquoi déclarer votre meublé de tourisme</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem minus illo mollitia vel harum excepturi eos adipisci ipsum facere quasi rerum ad facilis quaerat et ipsa, quidem ullam amet!</p>
        </div>
        <div class="col-md-12 col-lg-3 bg-info">
            <h2>La réglementation en vigueur</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem minus illo mollitia vel harum excepturi eos adipisci ipsum facere quasi rerum ad facilis quaerat et ipsa, quidem ullam amet!</p>
        </div>
    </div>
    
    <!--********************************************************BLOC CONTACT ***************************************************-->
    
    <div class="row d-flex justify-content-center" id="contact">
        <div class="col-md-12 text-center">
            <h1>Contact</h1>
        </div>
        <div class="col-md-12 col-lg-6 bg-warning m-1">
            <h2>Pourquoi déclarer votre meublé de tourisme</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem minus illo mollitia vel harum excepturi eos adipisci ipsum facere quasi rerum ad facilis quaerat et ipsa, quidem ullam amet!</p>
            </div>
        <div class="col-md-12 col-lg-5 bg-info m-1">
            <h2>La réglementation en vigueur</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum dolorem minus illo mollitia vel harum excepturi eos adipisci ipsum facere quasi rerum ad facilis quaerat et ipsa, quidem ullam amet!</p>
        </div>
    </div>
</div>
{% endblock %}