/* 
vert: #58ccb6
bleu : #5070b5
jaune : #ffd470
pêche :#ff9166 
*/

* {
    box-sizing: border-box;
}

body {
    font-family:'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #black;
    margin-top:2.5em;
    background-color :lightgrey;
}

header nav{
    background-color: #5070b5;
}

header nav ul li a{
    color: white!important;
}

.btn-warning {
    background-color: #58ccb6;
    border-color: #58ccb6;
}

.btn-warning:hover {
    background-color: #4fb7a3;
    border-color: #4fb7a3;
}

.btn-danger {
    background-color: #ff9166;
    border-color: #ff9166;
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: #e5825b;
    border-color: #e5825b;
}

.nav-link{
    color:white;
}

footer {
    background: linear-gradient(45deg, #5070b5, #58ccb6) center center no-repeat;

}

.encartDeclarant, .encartMairie, .encartOffice {
    box-shadow: 3px 3px 8px #adadad;
}

.listeHebergement td, .listeHebergement th {
    border: none; 
}

.page-item.active .page-link {
    background-color: #5070b5;
    border-color: #5070b5;
}

a {
    color: #5070b5;
}

a:hover {
    color: #58ccb6;
    text-decoration: none;
}

.btn {
    background: #58ccb6;
    color:black;
}

.btn:hover {
    background-color: #ff9166;
    color:black;

}