html {
    height : 100%;
}
body, main{
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#titrelisting {
    /*position : static;*/
    /*background-color : white;*/
    height: 350px;
    background: url(../img/illustration-public/farmhouse.jpeg) fixed; 
}

.navbar {
    background:rgba(255,255,255, 1);
}

#titrelisting h1{
    display : inline;
    vertical-align: text-bottom;
}
