{% extends 'admin.html.twig' %}

{% block header %}
    <h1 class="mt-5 mb-4 p-3 text-center">Bienvenue dans votre espace personnel</h1>
{% endblock %}

{% block body %}
    <table id="listeHebergement" class="listeHebergement table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Nom de l'hébergement</th>
          <th scope="col">Capacité</th>
          <th scope="col">Classement</th>
          <th scope="col">Etat déclaration</th>
          <th scope="col">Détail meublé</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><img class="img-fluid" style="max-width:150px;" src="assets/img/illustration-hebergement/petite-guinguette.jpeg" alt="La Petite Guiguette"></th>
          <td class="align-middle">Petite Guinguette</td>
          <td class="align-middle">4</td>
          <td class="align-middle">3</td>
          <td class="align-middle"><i class="fas fa-check text-success"></i></td>
          <td class="align-middle"><i class="fas fa-search"></td>
          <td class="align-middle"><i class="fas fa-trash-alt"></i></td>
        </tr>
        <tr>
          <th scope="row"><img class="img-fluid" style="max-width:150px;" src="assets/img/illustration-hebergement/grande-maisonnee.jpeg" alt="La Grande Maisonnée"></th>
          <td class="align-middle">Grande Maisonnée</td>
          <td class="align-middle">12</td>
          <td class="align-middle">2</td>
          <td class="align-middle"><i class="fas fa-check text-warning"></i></td>
          <td class="align-middle"><i class="fas fa-search"></td>
          <td class="align-middle"><i class="fas fa-trash-alt"></i></td>
        </tr>
        <tr>
          <th scope="row"><img class="img-fluid" style="max-width:150px;" src="assets/img/illustration-hebergement/studio-montagne.jpeg" alt="Le Studio des Montagnes"></th>
          <td class="align-middle">Studio des Montagnes</td>
          <td class="align-middle">2</td>
          <td class="align-middle">3</td>
          <td class="align-middle"><i class="fas fa-check text-danger"></i></td>
          <td class="align-middle"><i class="fas fa-search"></td>
          <td class="align-middle"><i class="fas fa-trash-alt"></i></td>
        </tr>
      </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#listeHebergement').dataTable( {
                "language": {
                    "sProcessing": "Traitement en cours ...",
                    "sLengthMenu": "Afficher _MENU_ lignes",
                    "sZeroRecords": "Aucun résultat trouvé",
                    "sEmptyTable": "Aucune donnée disponible",
                    "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
                    "sInfoEmpty": "Aucune ligne affichée",
                    "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
                    "sInfoPostFix": "",
                    "sSearch": "Chercher:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Chargement...",
                    "oPaginate": {
                      "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                    },
                    "oAria": {
                      "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
                    }
                  }
            });
        });
    </script>
{% endblock %}

