<h2>Bienvenue sur déclarersonmeublé.com !</h2>

<p>Pour terminer votre inscription, cliquez ici : 
<a href="htdocs-applekokonut.c9users.io/declaration-meuble/public/connexion?email={{email}}&token={{token}}">valider mon compte</a></p>