<h2>Vous avez demandé un nouveau mot de passe.</h2>

<p>Pour réinitialiser votre mot de passe, cliquez ici : 
<a href="htdocs-applekokonut.c9users.io/declaration-meuble/public/connexion/forgot?email={{email}}&token={{token}}">Changer mon mot de passe</a></p>