{{ form_start(form) }}

        <div class="field">
            <div class="control">
                {{ form_widget(form) }}
            </div>
        </div>

    <button class="btn">{{ button_label|default('Valider mes informations') }}</button>
{{ form_end(form) }}