{% extends 'admin.html.twig' %}

{% block title %}Modifier les informations de votre hébergement{% endblock %}

{% block header %}
    <h1 class="mt-5 mb-4 p-3 text-center">Modifier les informations de votre hébergement</h1>
{% endblock %}

{% block body %}

     <h3 class="title">{{heb_name}}</h3


    <!-- {{ include('hebergement/_form.html.twig', {'button_label': 'Mettre à jour'}) }} -->

    <a href="{{ path('hebergement_index') }}">retour à la liste</a>

    {{ include('hebergement/_delete_form.html.twig') }}
{% endblock %}