{% extends 'admin.html.twig' %}

{% block title %}Modifier les informations de votre hébergement{% endblock %}

{% block header %}
    <div class="container-fluid mt-5 mb-4 p-3" style="background: url({{asset('assets/img/illustration-hebergement/dashboard.jpg')}}) no-repeat fixed">
        <div class="row justify-content-center">
           <h1 class="text-center">Modifier les informations de votre hébergement</h1>  
        </div>
    </div>
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}


{% endblock %}
{% block main %}
{#{% if idHebergement > 0 %}#}
{#    {{ include('hebergement/_verificationInfo.html.twig') }}#}
{#{% endif %}#}

{{form_start(form)}}
{{form_end(form)}}

{% endblock %}