<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Déclarer son Meublé{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
        {% block main %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
    </body>
</html>