<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Déclarer son Meublé{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        {#<link rel="stylesheet" type="text/css" href="{{asset('assets/css/commune.css')}}">#}
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{asset('assets/css/slider.css')}}" />#}
        
        <!-- <link rel="stylesheet" type="text/css" href="jquery.fullpage.css"> -->
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
        <!-- <script src="jquery.onepage-scroll.js"></script> -->
        {% block head %}
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}
        
        <style>
        
        footer {
            height : 5vh;
        }
        
        @media screen and (max-width: 768px) {
            footer {
                font-size : 0.8rem;
                height: 10vh;
            }
        }
        
        .scrolling-box {
            overflow-y: scroll;
            scroll-behavior: smooth;
            }
        </style>
    </head>
    <body>
        {% block nav %}{% endblock %}
        {% block header %}{% endblock %}
        <div class="container-fluid p-0 scrolling-box" id="main">
            {% block main %}{% endblock %}
        </div>
        {% block footer %}
            <footer class="container-fluid bg-info">
                    <div class="row d-flex text-center pt-3">
                        <div class="col-12 col-sm-3">
                            <a class="text-white" href="">Déclarer son meublé</a>
                        </div>
                        <div class="col-12 col-sm-3 text-white">
                            &copy; 2018
                        </div>
                        <div class="col-12 col-sm-3">
                            <a class="text-white" href={{ path('mentions_legales') }}>Mentions légales</a>
                        </div>
                        <div class="col-12 col-sm-3">
                            <a class="text-white" href="{{ path('creation_mairie') }}">Création Mairie</a>
                        </div>
                    </div>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
        <script>
// 	$(document).on('click', 'a[href^="#"]', function (event) {
//         event.preventDefault();
    
//         $('html, body').animate({
//             scrollTop: $($.attr(this, 'href')).offset().top
//         }, 5000);
//     });
</script>
    </body>
</html>