{% extends 'commune.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/inscription.css')}}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<h1>S'inscrire</h1>
{% endblock %}