{% extends 'commune.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/inscription.css')}}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

<h1 class="mt-5 mb-4 text-center display-3 text-dark" id="titreinscription">Inscription</h1>
<p class="text-dark text-center">Créez un compte pour déclarer et gérer vos meublés, à Barcelonnette et partout en France</p>
        
{% endblock %}